.off-canvas > h1 {
  border-bottom: 2px solid #57a7eb;
  /*this is just junk testing stuff*/
  margin-bottom: 10px;
}

/*test css*/
.off-canvas {
  z-index: 1;
}

.container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.parent-view {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.parent-view.drop {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}

/* test for stick footer with form */
form {
  /* 38px is the header height */
  height: calc(100% - 38px);
}
/* this will be the form panes generally */
.wrapper {
  background-color: linen;
  min-height: 100%;
  /* bottom margin is -(footer) */
  margin: 0 auto -30px;
}
.wrapper:after {
  content: '';
  display: block;
}
/*.wrapper:after is the pusher */
footer, .wrapper:after {
  height: 30px;
}

/* just style to make stick footer easily visible */
p {
  width: 500px;
  margin: 0 0 15px 0;
}
footer {
  background-color: skyblue;
}
