.progress {
  position: relative;
  display: inline-block;
  overflow: hidden;

  /*this is the entry points for styling variables*/
  width: 175px;
  height: 25px;
}

/*.progress,*/
.progress .progress-bar,
.progress .progress-value,
.progress .divider {
  box-sizing: border-box;
}

.progress .progress-bar {
  position: absolute;
  height: 50%;
  width: 100%;
  /*vertical center the bar*/
  top: 25%;

  /*this is the entry points for styling variables*/
  border-radius: 2px;
  border: 1px solid lightgray;
  background-color: whiteSmoke;
}

.progress .progress-value {
  display: block;
  text-indent: -9999px;
  height: 100%;

  /*this is the entry points for styling variables*/
  border-radius: 2px 0px 0px 2px;
  background-color: gray;

  /*animation effect*/
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  /*initial value*/
  width: 0%;
}

.progress .divider {
  position: absolute;
  height: 100%;
  width: 10px;

  /*this is the entry points for styling variables*/
  border: 3px solid #666666;
  border-left: none;

  /*animation effect*/
  -webkit-transition: right 1s ease-in-out;
  -moz-transition: right 1s ease-in-out;
  -o-transition: right 1s ease-in-out;
  transition: right 1s ease-in-out;

  /*initial value - this is opposite cuz it's from the right*/
  right: 100%;
}
