.textinsert .selected-data {
  float: left;
  width: 100px;
}
.textinsert .data {
  float: right;
}
.textinsert .sidebar {
  height: 100px;
}

/*.textinsert textarea {
  height: 100px;
}*/

/*override some power gridstyle that will be included
  because this is not actually a powergrid*/
.textinsert .selected-data table,
.textinsert .data input {
  width: 100%;
}

.textinsert .action {
  text-align: center;
}
