.textinsert .selected-data {
  float: left;
  height: 100px;
  width: 100px;
}
.textinsert .data {
  float: right;
}

/*.textinsert textarea {
  height: 100px;
}*/

.textinsert table {
  width: 100%;
}

.textinsert .action {
  text-align: center;
  padding-top: 30px;
}